[tool.ruff]
target-version = "py312"
line-length = 120
extend-exclude = ["py_rme_canary/vis_layer/**", "py_rme_canary/tools/**"]

[tool.ruff.lint]
select = ["F", "E", "W", "I", "N", "UP", "B", "C4", "SIM"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[tool.mypy]
python_version = "3.12"
disallow_untyped_defs = true
check_untyped_defs = true
ignore_missing_imports = false
warn_unused_ignores = true
warn_redundant_casts = true
warn_unreachable = true
no_implicit_optional = true
exclude = ["py_rme_canary/vis_layer/", "py_rme_canary/tools/"]
